asgiref==3.8.1
chardet==5.2.0
Django==5.0.7
django-excel==0.0.10
et-xmlfile==1.1.0
lml==0.1.0
openpyxl==3.1.5
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-webio==0.1.4
pyexcel-xlsx==0.6.0
setuptools==70.3.0
sqlparse==0.5.1
texttable==1.7.0
